<form action="/session" method="POST">
  <label for="user_email">Email:</label>
  <input type="text" id="user_email" name="user[email]">
  <br>
  <label for="user_password">Password:</label>
  <input type="text" id="user_password" name="user[password]">
  <br>
  <input type="submit" value="Log In">
</form>