<br>
"<%= note.text %>"
<br>
by <strong><%= note.user.email %></strong>.  <em>Posted <%= time_ago_in_words(note.created_at) %> ago.</em>
<br>
<%= button_to "Delete Note", note_url(note), method: :delete %>
<br>