<form action="<%= album_tracks_url(params[:album_id]) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="track_name">Name:</label>
  <input type="text" id="track_name" name="track[name]">
  <br>
  <label for="track_album_id">Album:</label>
  <select name="track[album_id]" id="track_album_id">
    <% @albums.each do |album| %>
      <% selected = album == Album.find(params[:album_id]) ? "selected" : "" %>
      <option value="<%= album.id %>" <%= selected.html_safe %>><%= album.name %></option>
    <% end %>
  </select>
  <br>
  <label for="track_track_type">Bonus or Regular?:</label>
  <select id="track_track_type" name="track[track_type]">
    <option value="Bonus">Bonus</option>
    <option value="Regular">Regular</option>
  </select>
  <br>
  <label for="track_lyrics">Lyrics:</label>
  <br>
  <input type="text" id="track_lyrics" name="track[lyrics]">
  <br>
  <input type="submit" value="Add Track">
</form>