<h1><%= @track.name %></h1>
<h2>Album: <%= link_to @track.album.name, album_url(@track.album_id) %></h2>
<h2>Band: <%= link_to @track.album.band.name, band_url(@track.album.band_id) %></h2>
<h3>Lyrics:</h3>
<%= @track.lyrics %>
<h3>Notes:</h3>
<form action="<%= track_notes_url(params[:id]) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="note_text">Note:</label>
  <br>
  <input type="text" id="note_text" name="note[text]">
  <br>
  <input type="submit" value="Add Note">
</form>
<br>
<%= render partial: "notes/note", collection: @notes.reverse %>
<%= button_to "Delete Track", track_url(@track), method: :delete %>