Welcome to example.com, <%= @user.email %>
===============================================

You have successfully signed up to example.com,
your username is: <%= @user.email %>.

To activate your account, just follow this link: <%= @url %>.

Thanks for joining and have a great day!