<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="user_email">User Email</label>
  <input type="text" name="user[email]" id="user_email">
  <br>
  <label for="user_password">Password</label>
  <input type="text" name="user[password]" id="user_password">
  <br>
  <input type="submit" value="Create Account">
</form>