<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Welcome to the Music App</title>


<style type="text/css">
  #message_headers {
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0;
    background: #fff;
    font-size: 12px;
    font-family: "Lucida Grande";
    border-bottom: 1px solid #dedede;
    overflow: auto;
  }

  #message_headers dl {
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
  }

  #message_headers dt {
    width: 92px;
    padding: 1px;
    margin: 0;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }

  #message_headers dd {
    margin: 0 0 0 102px;
    padding: 1px;
  }

  #message_headers p.alternate {
    float: right;
    margin: 0;
  }

  #message_headers p.alternate a {
    color: #09c;
  }

  pre#message_body {
    padding: 10px;
    word-wrap: break-word;
  }
</style>

<div id="message_headers">
  <dl>
    <dt>From:</dt>
    <dd>from@example.com</dd>

    

    

    
      <dt>Subject:</dt>
      <dd><strong>Welcome to the Music App</strong></dd>
    

    <dt>Date:</dt>
    <dd>Nov 15, 2013 05:15:42 PM EST</dd>

    
      <dt>To:</dt>
      <dd>hello@gmail.com</dd>
    

    

    

    
  </dl>

  
    <p class="alternate">
      
        <a href="rich.html">View HTML version</a>
      
    </p>
  
</div>


  <pre id="message_body">Welcome to example.com, hello@gmail.com
===============================================

You have successfully signed up to example.com,
your username is: hello@gmail.com.

To activate your account, just follow this link: <a href="http://localhost:3000/users/activate?activation_token=x8N63CnnDA4G-UEHpYwEAw.">http://localhost:3000/users/activate?activation_token=x8N63CnnDA4G-UEHpYwEAw.</a>

Thanks for joining and have a great day!</pre>


