<form action="<%= albums_url %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="album_name">Album Name:</label>
  <input type="text" id="album_name" name="album[name]" value="<%= @album.name %>">
  <br>
  <label for="album_band_id">Band Name:</label>
  <select name="album[band_id]" id="album_band_id">
    <%= @bands.each do |band| %>
      <% selected = band == @album.band ? "selected" : "" %>
      <option value="<%= band.id %>" <%= selected.html_safe %>><%= band.name %></option>
    <% end %>
  </select>
  <br>
  <label for="album_album_type">Live or Studio?:</label>
  <select name="album[album_type]" id="album_album_type">
    <option value="Live">Live</option>
    <option value="Studio">Studio</option>
  </select>
  <br>
  <input type="submit" value="Create Album">
</form>