<h1><%= @album.name %> by <%= link_to @album.band.name, band_url(@album.band_id) %></h1>
<h2>Type: <%= @album.album_type %></h2>
<h3>Tracks</h3>
<ol>
<% @album.tracks.each do |track| %>
  <li>
    <%= link_to track.name, track_url(track.id) %>
  </li>
<% end %>
</ol>
<%= button_to "Delete Album", album_url(@album), method: :delete %>