<form action="<%= band_url(@band.id) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">
  <label for="band_name">Band Name:</label>
  <input type="text" name="band[name]" value="<%= @band.name %>">
  <br>
  <input type="submit" value="Update Band">
</form>