<form action="/bands" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="band_name">Band Name:</label>
  <input type="text" id="band_name" name="band[name]">
  <br>
  <input type="submit" value="Create Band">
</form>