<h1><%= @band.name %></h1>
<h2>Albums</h2>
<ul>
  <% @band.albums.each do |album| %>
    <li>
      <%= link_to album.name, album_url(album.id) %>
      <br>
      <ol>
        <% album.tracks.each do |track| %>
          <li>
            <%= link_to track.name, track_url(track.id) %>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ul>
<%= button_to "Delete Band", band_url(@band), method: :delete %>