<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <%= current_user.email %>
  <%= button_to "Log Out", session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
